/.DS_Store
/.venv
/513.code-workspace
/Readings
/Slides
Homeworks/.DS_Store
Homeworks/3/.DS_Store
ICTE/signals/.DS_Store
ICTE/.DS_Store
Homeworks/.DS_Store
Homeworks/3/data/cifar-10-batches-py/test_batch
Homeworks/3/data/cifar-10-batches-py/batches.meta
Homeworks/3/data/cifar-10-python.tar.gz
Homeworks/3/data/cifar-10-batches-py/data_batch_1
Homeworks/3/data/cifar-10-batches-py/data_batch_2
Homeworks/3/data/cifar-10-batches-py/data_batch_3
Homeworks/3/data/cifar-10-batches-py/data_batch_4
Homeworks/3/data/cifar-10-batches-py/data_batch_5
Homeworks/3/data/cifar-10-batches-py/readme.html
